<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>
<body>
    <h1>{{message}}</h1>
    <br>
    <a href="/usuario/login">Ir para o login</a><br>
    <a href="/usuario/create">Não tem cadastro ?</a>
    
</body>
</html>