<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>

    <h2>Login de Usuário</h2>

    <form action="/usuario/login" method="POST">
        <label for="nome">Usuário:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <br><br>
        <label for="admin">Admin:</label>
        <select id="admin" name="admin">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br><br>
        <button type="submit">Entrar</button>
        <br>
    </form>

    {{#logged}}
        <p style="color: green;">Login realizado com sucesso</p>
    {{/logged}}

    {{#info}}
        <p style="color: red;">Credenciais inválidas</p>
    {{/info}}

    {{#token}}
        Token de login<br>
        <textarea rows="5" cols="50">{{.}}</textarea>
        <br>
        <a href="/compra/busca/{{id}}" style="text-decoration: none;">Consultar todos os ingressos</a>
        <br>
    {{/token}}
    
    <br>
    <a href="/inicio" style="text-decoration: none;">Voltar</a>
</body>
</html>